# Backend Production Environment Variables
PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/braindock_library?retryWrites=true&w=majority
JWT_SECRET=super_secure_random_jwt_secret_key_2026

# Cloudinary Storage for Student Photos & Book PDFs
CLOUDINARY_CLOUD_NAME=hiifll86
CLOUDINARY_API_KEY=462785225922261
CLOUDINARY_API_SECRET=0twa0k3FswbX-vSzSvS1E4eBTsQ
CLOUDINARY_FOLDER=braindock

# Production Frontend URLs (for CORS whitelist)
FRONTEND_USER_URL=https://braindocklibrary.com
FRONTEND_ADMIN_URL=https://admin.braindocklibrary.com

# SMTP Email Settings (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=climatehero2026@gmail.com
SMTP_PASS=igsj ohfd bnjc jugy
SMTP_FROM="Brain Dock Library <climatehero2026@gmail.com>"
